<!DOCTYPE html>
<html>
    <head>
        <!-- <title>NOOB</title>
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
        <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
        <link href="../static/style.css" rel="stylesheet">
         -->
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>
    <body>
        <h1>BIO DATA FORM</h1>
        <form action="showbio">
            <label>Username</label>
            <input type="name" name="username"><br>
            <label>Phone number</label>
            <input type="number" name="phonenumber"><br>
            <input type="submit" name="submit">
        </form>
    </body>
</html>