<html>
    <head>
            <!-- <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
            <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
            <link href="../static/style.css" rel="stylesheet"> -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>
<body>
    {% if name %}
    <h2>Hello {{ name }}</h2>
    {% else %}
    <h2>Hello</h2>
    {% endif %}
</body>
</html>