<!DOCTYPE html>
<html>
    <head>
        <title>candy</title>
        <!-- <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
        <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
        <link href="../static/style.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Bio-Data Details</h1>
        <hr>
        <h1>Username : {{username}}</h1>
        <h1>Phone number: {{phonenumber}}</h1>
    </body>
</html>